/* RESET PAGE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "header" "header" "header"
    "main" "main" "main"
    "footer" "footer" "footer";
}

/* HEADER */
.header {
  background-color: #e4e4e4;
  padding: 1% 10%;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  position: fixed; /* fixa no topo */
  top: 0; /* gruda no topo */
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* DIV ONDE A LOGO ESTÁ INSERIDA */
.header__logo {
  width: 27%;
}

/* LOGO */
.logo__img {
  width: 100%;
}

/* NAVEGAÇÃO */
.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  position: relative;
  color: #000;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav__link:hover {
  color: #f5524c;
  transition: 0.3s;
}

/* Linha escondida */
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2%;
  height: 2px;
  width: 0%;
  background: red; /* cor da linha */
  transition: width 0.3s ease-in-out;
}

/* Quando passa o mouse */
.nav__link:hover::after {
  width: 100%;
}

/* CONTÉUDO PRINCIPAL */
.main__container {
  grid-area: main;
}

/* HOME */
.section__home {
  height: 100vh;
  background: url("../img/bg-home.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.home__bg__color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor de sobreposição */
  z-index: 1;
}

.home__container {
  border-radius: 15px;
  background-color: rgba(228, 228, 228, 0.5);
  position: relative;
  width: 45%;
  height: 15%;
  padding: 2% 5%;
  z-index: 2;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.home__title {
  color: #000;
  font-size: 2.5rem;
  margin-bottom: 1%;
  font-family: Arial, Helvetica, sans-serif;
}

.home__subtitle {
  color: #000;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 1%;
}

/* ABOUT */
.section__about {
  height: 100vh;
  background-color: #b1b1b1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 5% 12%;
  gap: 5%;
}

.img__container {
  border-radius: 15px;
  width: 75%;
}

.about__title {
  font-size: 2.5rem;
  margin-bottom: 2%;
  color: #000;
}

.about__description {
  font-size: 1.2rem;
  text-align: justify;
  color: #000;
  line-height: 1.6;
}

/* SERVIÇO */
.section__service {
  height: 130vh;
}

.container__service {
  width: 100%;
  padding: 7.4% 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.service__title {
  font-size: 2.5rem;
  color: #000;
}

.service__subtitle {
  font-size: 1.2rem;
  text-align: center;
  color: #000;
  line-height: 1.6;
  margin-bottom: 2.5%;
}

.service__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  width: 75%;
}

.card__service {
  background-color: #e4e4e4;
  border-radius: 15px;
  padding: 8% 5%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service__img {
  width: 50%;
  margin-bottom: 2%;
}

.card__title {
  font-size: 1.5rem;
  margin-bottom: 1%;
  color: #000;
}

.service__description {
  font-size: 1rem;
  color: #000;
  line-height: 1.4;
  margin-bottom: 4%;
}

.btn__contato {
  padding: 1% 3%;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.btn__contato:hover {
  background-color: #d9433e;
  transition: 0.3s;
}

/* FORNECIMENTO */
.section__fornecimento {
  height: 100vh;
  background-color: #b1b1b1;
}

.container__fornecimento {
  width: 100%;
  padding: 7.4% 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.fornecimento__title {
  font-size: 2.5rem;
  color: #000;
}

.fornecimento__subtitle {
  font-size: 1.2rem;
  text-align: center;
  color: #000;
  line-height: 1.6;
  margin-bottom: 2.5%;
}

.fornecimento__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  width: 75%;
}

.card__fornecimento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #e4e4e4;
  border-radius: 15px;
  padding: 8% 5%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fornecimento__img {
  width: 35%;
  margin-bottom: 2%;
}

.fornecimento__title--item {
  font-size: 1.2rem;
  margin-bottom: 1%;
  color: #000;
}

.fornecimento__description {
  font-size: 0.9rem;
  color: #000;
  line-height: 1.4;
}

.fornecimento__btn {
  padding: 2% 3%;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.fornecimento__btn:hover {
  background-color: #d9433e;
  transition: 0.3s;
}

/* SEÇÃO CONTATO */
.section__contato {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 12%;
}

.contato__container {
  width: 100%;
  border-radius: 15px;
  padding: 5% 7%;
}

.contato__title {
  font-size: 2.5rem;
  color: #000;
  text-align: center;
}

.contato__description {
  font-size: 1.2rem;
  text-align: center;
  color: #000;
  line-height: 1.6;
  margin-bottom: 4%;
}

.form__contato {
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.campo__nome,
.campo__assunto {
  padding: 1.5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.campo__nome input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}

.campo__assunto input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}

.campo__mensagem {
  padding: 1.5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  resize: vertical;
  min-height: 150px;
}

.campo__mensagem textarea {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.campo__nome input,
.campo__mensagem textarea,
.campo__assunto input {
  margin-top: 1%;
}

.btn__contato--form {
  padding: 1.5% 3%;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn__contato--form:hover {
  background-color: #d9433e;
  transition: 0.3s;
}

/* FOOTER */
.footer {
  background-color: #e4e4e4;
  padding: 2% 5%;
  grid-area: footer;
  text-align: center;
  font-size: 0.9rem;
  color: #000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.container__footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2%;
}

.footer__logo {
  width: 60%;
  margin: 0 auto;
}

.footer__links {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 3%;
}

.links__title {
  font-weight: bold;
  margin-bottom: 5%;
}

.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.footer__item {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
}

.footer__link {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
}

.footer__link:hover {
  color: #f5524c;
  transition: 0.3s;
}

.footer__contato {
  text-align: left;
}

.contact__title {
  font-weight: bold;
  margin-bottom: 5%;
}

.contact__number {
  margin-bottom: 2%;
}

.contact__proprietario {
  color: #000;
  text-decoration: none;
  margin-bottom: 2%;
}

.contact__proprietario:hover {
  color: #f5524c;
  transition: 0.3s;
}

.contact__funcionario {
  color: #000;
  text-decoration: none;
  margin-bottom: 2%;
}

.contact__funcionario:hover {
  color: #f5524c;
  transition: 0.3s;
}

.social__midias {
  display: flex;
  gap: 3%;
  margin-top: 5%;
  justify-content: flex-start;
  align-items: center;
}

.social__list {
  list-style: none;
  display: flex;
  gap: 3%;
}

.social__item {
  font-size: 1.5rem;
}

.social__link {
  color: #000;
  text-decoration: none;
}

.social__link:hover {
  color: #f5524c;
  transition: 0.3s;
}

.footer__localizar {
  text-align: left;
}

.localizar__title {
  font-weight: bold;
  margin-bottom: 5%;
}

.localizar__text {
  color: #000;
  text-decoration: none;
  margin-bottom: 2%;
}

.localizar__link {
  color: #000;
  text-decoration: none;
}

.localizar__link:hover {
  color: #f5524c;
  transition: 0.3s;
}
