/* Error: Undefined operation "#000000 - 0.5rem".
 *    ,
 * 37 |   color: variaveis.$secondery-color - 0.5rem;
 *    |          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   SASS/_section-home.scss 37:10  @use
 *   SASS/style.scss 11:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined operation "#000000 - 0.5rem".\a    \2577 \a 37 \2502    color: variaveis.$secondery-color - 0.5rem;\a    \2502           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   SASS/_section-home.scss 37:10  @use\a   SASS/style.scss 11:1           root stylesheet';
}
